@import '../variables';

.contato{
    h3{
        color: $verde_floresta;
        font-family: $oswald;
    }

    

    .contato_info
    {
        h4{
            color: $verde_floresta;
            font-weight: bold;
            font-family: $roboto;
            letter-spacing: 4px;
            display: none;
        }

        .item{
            ul{
                list-style-position: inside;
                li{
                    margin: 25px 0px;
                    // background-color: blue;
                    // width: max-content;
                    a{      
                        text-decoration: none;
                        color: black;
                        letter-spacing: 2px;
                        font-family: $roboto;
                        // background-color: red;
                        width: max-content;

                        &:hover{
                            color: blue;
                            text-decoration: underline;
                        }
                    }
                }
                
                
            }
        }
    }



        
}