@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.artigo {
  margin: 0px auto;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.subTitulo {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Oswald", cursive;
  font-weight: bold;
  margin-bottom: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 24px;
  color: #24A652;
  position: relative;
}
.subTitulo::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fade54;
  z-index: -1;
}
@media screen and (max-width: 567px) {
  .subTitulo {
    font-size: 1.8rem;
  }
}

.paragrafo {
  font-family: "Roboto", cursive;
  font-size: 1.1rem;
  line-height: 3rem;
  letter-spacing: 1px;
  text-align: left;
  text-indent: 1rem;
  margin-left: 15px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .paragrafo {
    font-family: "Roboto", cursive;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 4px;
    text-align: left;
    text-indent: 1rem;
    margin-left: 15px;
    font-weight: 400;
  }
}
@media screen and (max-width: 600px) {
  .paragrafo {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

.bold {
  font-weight: bold;
  color: #24A652;
}

.fontAmarelo {
  color: #FFFCFF;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 10px 10px;
  font-family: "Poppins", cursive;
  background-color: #24A652;
}

.italic {
  font-weight: 500;
  font-style: italic;
}

.showTag {
  opacity: 1;
}

.showLeg {
  opacity: 1;
}

.visivel {
  transform: translateX(0%);
  opacity: 1;
}

.button {
  width: 300px;
  height: 56px;
  background-color: #24A652;
  display: flex;
  color: white;
  justify-content: center;
  border: 2px solid transparent;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5098039216);
  text-decoration: none;
  transition: 0.5s ease all;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #24A652;
  color: #24A652;
}
@media screen and (max-width: 390px) {
  .button {
    width: 90%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", cursive;
}

.content {
  margin-top: 100px;
}

.banner {
  height: -moz-max-content;
  height: max-content;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.banner::before {
  content: "";
  transition: 0.5s ease all;
  position: absolute;
  width: 100%;
  height: 100%;
  /* Posiciona o pseudo-elemento absolutamente em relação ao elemento pai */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://www.agenciapara.com.br/midias/2021/grandes/up_ag_30521_c922a8b5-ff5b-e48f-ba1f-c49ad3ddd59a.jpg");
  filter: blur(5px) brightness(40%);
  transform: scale(1.1);
  /* Cor de fundo semi-transparente (aqui, um preto com 50% de opacidade) */
  z-index: -1;
}
.banner .title {
  color: #24A652;
  font-family: "Oswald", cursive;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-weight: bold;
}
.banner .title .t_1 {
  font-size: 7rem;
  letter-spacing: 23px;
}
.banner .title .t_2 {
  font-size: 5rem;
  letter-spacing: 10px;
}
.banner .title .t_3 {
  font-size: 5rem;
  letter-spacing: 8px;
}
@media screen and (max-width: 1030px) {
  .banner .title .t_1 {
    font-size: 6rem;
    letter-spacing: 18px;
  }
  .banner .title .t_2 {
    font-size: 4rem;
    letter-spacing: 10px;
  }
  .banner .title .t_3 {
    font-size: 4rem;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 865px) {
  .banner .title .t_1 {
    font-size: 6rem;
    letter-spacing: 17px;
  }
  .banner .title .t_2 {
    font-size: 4rem;
    letter-spacing: 10px;
  }
  .banner .title .t_3 {
    font-size: 4rem;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 500px) {
  .banner .title .t_1 {
    font-size: 4rem;
    letter-spacing: 14px;
  }
  .banner .title .t_2 {
    font-size: 2rem;
    letter-spacing: 10px;
  }
  .banner .title .t_3 {
    font-size: 2rem;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 390px) {
  .banner .title .t_1 {
    font-size: 2.5rem;
    letter-spacing: 14px;
  }
  .banner .title .t_2 {
    font-size: 1.5rem;
    letter-spacing: 10px;
  }
  .banner .title .t_3 {
    font-size: 1.5rem;
    letter-spacing: 10px;
  }
}

.contato {
  width: 80%;
  margin: auto;
}
.contato .body h2 {
  color: #24A652;
  font-family: "Oswald", cursive;
  font-size: 2.5rem;
}
.contato .body p {
  font-size: 1.5rem;
  line-height: 3rem;
  color: black;
}/*# sourceMappingURL=Formulario.module.css.map */