@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.artigo {
  margin: 0px auto;
  padding: 50px 0px;
  padding-top: 150px;
  margin-bottom: 0px;
}

.subTitulo {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Oswald", cursive;
  font-weight: bold;
  margin-bottom: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 24px;
  color: #24A652;
  position: relative;
}
.subTitulo::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fade54;
  z-index: -1;
}
@media screen and (max-width: 567px) {
  .subTitulo {
    font-size: 2.4rem;
  }
}

.paragrafo {
  font-family: "Roboto", cursive;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 2px;
  text-align: left;
  text-indent: 1rem;
  margin-left: 15px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .paragrafo {
    font-family: "Roboto", cursive;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 4px;
    text-align: left;
    text-indent: 1rem;
    margin-left: 15px;
    font-weight: 400;
  }
}

.bold {
  font-weight: bold;
  color: #24A652;
}

.fontAmarelo {
  color: #FFFCFF;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 10px 10px;
  font-family: "Poppins", cursive;
  background-color: #24A652;
}

.italic {
  font-weight: 500;
  font-style: italic;
}

.showTag {
  transform: translatex(0%);
  opacity: 0;
  transition: 1s ease all;
}
@media screen and (max-width: 768px) {
  .showTag {
    transform: translatex(-2%);
  }
}

.showLeg {
  transform: translateX(0%);
  opacity: 0;
  transition: 1s ease all;
}
@media screen and (max-width: 768px) {
  .showLeg {
    transform: translatex(-2%);
  }
}

.visivel {
  transform: translateX(0%);
  opacity: 1;
}

.button {
  width: 300px;
  height: 56px;
  background-color: #24A652;
  display: flex;
  color: white;
  justify-content: center;
  border: 2px solid transparent;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5098039216);
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #24A652;
  color: #24A652;
}

* {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
}

.bg_tuned {
  height: -moz-max-content;
  height: max-content;
  padding: 150px 0px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg_tuned h2 {
  color: #24A652;
  font-family: "Oswald", cursive;
  width: -moz-max-content;
  width: max-content;
  margin: 10px auto;
  font-weight: bold;
}
.bg_tuned h2 .t_1 {
  font-size: 6rem;
  letter-spacing: 35px;
}
.bg_tuned h2 .t_2 {
  font-size: 5rem;
  letter-spacing: 23px;
}
@media screen and (max-width: 800px) {
  .bg_tuned h2 .t_1 {
    font-size: 6rem;
    letter-spacing: 37px;
  }
  .bg_tuned h2 .t_2 {
    font-size: 5rem;
    letter-spacing: 27px;
  }
}
@media screen and (max-width: 500px) {
  .bg_tuned h2 .t_1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
  }
  .bg_tuned h2 .t_2 {
    font-size: 2rem;
    letter-spacing: 8px;
  }
}
.bg_tuned::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: blur(5px) brightness(40%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.404);
  z-index: -1;
  transform: scale(1.1);
  background-image: url(https://oficinabrasil.com.br/uploads/images/pitstop/lwart-coleta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.servicos .servicos_titulo {
  color: #24A652;
  font-weight: 700;
  font-family: "Oswald", cursive;
  letter-spacing: 5px;
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .servicos {
    width: 90% !important;
  }
  .servicos .subTitulo {
    font-size: 2rem !important;
    text-align: left !important;
  }
  .servicos .item_titulo {
    width: 100%;
    text-align: left;
  }
}/*# sourceMappingURL=Servicos.module.css.map */