@import '../variables';

*
{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
}

.servicos
{
    .servicos_titulo{
        color: $verde_floresta;
        font-weight: 700;
        font-family: $oswald;
        letter-spacing: 5px;
        font-size: 2.4rem;
    }

    @media screen and (max-width: 768px)
    {
        .item_titulo
        {
            // color: red;
            width: 100%;
            text-align: left;
        }
    }
}

