@import '../variables';

*
{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
}

.bg_tuned{
    height: max-content;
    padding: 150px 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        color: $verde_floresta;
        font-family: $oswald;
        width: max-content;
        margin: 10px auto;
        font-weight: bold;
    

    .t_1{
        font-size: 6rem;
        letter-spacing: 35px;
    }
    .t_2{
        font-size: 5rem;
        letter-spacing: 23px;
    }

    @media screen and (max-width:800px)
    {
        .t_1{
            font-size: 6rem;
            letter-spacing: 37px;
        }

        .t_2{
            font-size: 5rem;
            letter-spacing: 27px;
        }
    }

    @media screen and (max-width: 500px)
    {
        .t_1{
            font-size: 3.5rem;
            letter-spacing: 3px;
        }

        .t_2{
            font-size: 2rem;
            letter-spacing: 8px;
        }
    }
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        filter: blur(5px) brightness(40%);
        width: 100%;
        height: 100%;
        background-color: rgba(255, 0, 0, 0.404);
        z-index: -1;
        transform: scale(1.1);
        background-image: url(https://oficinabrasil.com.br/uploads/images/pitstop/lwart-coleta.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
    }
}

.servicos
{
    // background-color: blue;
    
    .servicos_titulo{
        color: $verde_floresta;
        font-weight: 700;
        font-family: $oswald;
        letter-spacing: 5px;
        font-size: 1.7rem;
    }

    @media screen and (max-width: 768px)
    {
        width: 90% !important;
        .subTitulo{
            font-size: 2rem !important;
            text-align: left !important;
        }
        .item_titulo
        {
            // color: red;
            width: 100%;
            text-align: left;
        }
    }
}

