@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.artigo {
  margin: 0px auto;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.subTitulo {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Oswald", cursive;
  font-weight: bold;
  margin-bottom: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 24px;
  color: #24A652;
  position: relative;
}
.subTitulo::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fade54;
  z-index: -1;
}
@media screen and (max-width: 567px) {
  .subTitulo {
    font-size: 2.4rem;
  }
}

.paragrafo {
  font-family: "Roboto", cursive;
  font-size: 1.1rem;
  line-height: 3rem;
  letter-spacing: 2px;
  text-align: left;
  text-indent: 1rem;
  margin-left: 15px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .paragrafo {
    font-family: "Roboto", cursive;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 4px;
    text-align: left;
    text-indent: 1rem;
    margin-left: 15px;
    font-weight: 400;
  }
}

.bold {
  font-weight: bold;
  color: #24A652;
}

.fontAmarelo {
  color: #FFFCFF;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 10px 10px;
  font-family: "Poppins", cursive;
  background-color: #24A652;
}

.italic {
  font-weight: 500;
  font-style: italic;
}

.showTag {
  transform: translatex(0%);
  opacity: 0;
  transition: 1s ease all;
}
@media screen and (max-width: 768px) {
  .showTag {
    transform: translatex(-2%);
  }
}

.showLeg {
  transform: translateX(0%);
  opacity: 0;
  transition: 1s ease all;
}
@media screen and (max-width: 768px) {
  .showLeg {
    transform: translatex(-2%);
  }
}

.visivel {
  transform: translateX(0%);
  opacity: 1;
}

.button {
  width: 300px;
  height: 56px;
  background-color: #24A652;
  display: flex;
  color: white;
  justify-content: center;
  border: 2px solid transparent;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5098039216);
  text-decoration: none;
  transition: 0.5s ease all;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #24A652;
  color: #24A652;
}
@media screen and (max-width: 390px) {
  .button {
    width: 90%;
  }
}

* {
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  position: relative;
  background-color: white;
  z-index: 1800;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
@media screen and (min-width: 1040px) {
  .cabecalho .menu_controls, .cabecalho .hidden_navBar {
    display: none;
  }
}
.cabecalho .logo {
  height: 80%;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 768px) {
  .cabecalho .logo {
    transform: translateX(30px);
  }
}
.cabecalho .navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cabecalho .navBar .navBar_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.cabecalho .navBar .navBar_list .list_item {
  padding: 5px 10px;
  margin: 0px 15px;
  font-size: 1.5rem;
  font-family: "Roboto", cursive;
  color: #24A652;
  font-weight: bold;
  letter-spacing: 4px;
}
.cabecalho .navBar .navBar_list .list_link {
  color: #24A652;
  text-decoration: none;
}
.cabecalho .cta_coleta {
  height: 50px;
  padding: 5px 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  background-color: #24A652;
  color: #FFFCFF;
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: "Poppins", cursive;
  transition: 0.5s ease all;
}
.cabecalho .cta_coleta:hover {
  background-color: white;
  border: 2px solid #24A652;
  color: #24A652;
}
@media screen and (max-width: 1200px) {
  .cabecalho {
    height: 120px;
  }
  .cabecalho .logo {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1030px) {
  .cabecalho {
    position: fixed;
    width: 100%;
    transform: translateY(-5px);
    top: 0;
    z-index: 11000;
    background-color: white;
  }
  .cabecalho .navBar, .cabecalho .cta_coleta {
    display: none;
  }
  .cabecalho .menu_controls {
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cabecalho .menu_controls .checkbox_menu {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
  .cabecalho .menu_controls .checkbox_menu:checked ~ .burguer_icon {
    transform: skew(20deg);
  }
  .cabecalho .menu_controls .checkbox_menu:hover ~ .burguer_icon {
    border: 1px solid black;
  }
  .cabecalho .menu_controls .burguer_icon {
    font-size: 3rem;
    z-index: -1;
    transition: 0.5s ease all;
  }
  .cabecalho .menu_controls .burguer_icon:hover {
    border: 1px solid black;
  }
  .cabecalho .hidden_navBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease all;
  }
  .cabecalho .hidden_navBar .navBar_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  .cabecalho .hidden_navBar .navBar_list .list_item {
    padding: 5px 10px;
    margin: 30px 15px;
    font-size: 1.5rem;
    font-family: "Roboto", cursive;
    color: #24A652;
    font-weight: bold;
    letter-spacing: 4px;
  }
  .cabecalho .hidden_navBar .navBar_list .list_item .list_link {
    color: #24A652;
    text-decoration: none;
  }
  .cabecalho .show {
    transform: translateX(100%);
  }
  .cabecalho .hidden {
    transform: translateX(0%);
  }
}/*# sourceMappingURL=Header.module.css.map */