@import '../variables';

*{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
}

.main
{
    height: 1200px;
    @media screen and (max-width: 476px)
    {
        height: 560px;
        display: block;
    }
    width: 100%;
    // background-color: red;
    color: white;
    position: relative; 
    overflow: hidden;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        content: "";
        transition: .5s ease all;
        position: absolute;
        width: 100%;
        height: 100%;
        /* Posiciona o pseudo-elemento absolutamente em relação ao elemento pai */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('https://www.agenciapara.com.br/midias/2021/grandes/up_ag_30521_c922a8b5-ff5b-e48f-ba1f-c49ad3ddd59a.jpg');
        filter: blur(5px)  brightness(40%);
        
        
        transform: scale(1.1);
        /* Cor de fundo semi-transparente (aqui, um preto com 50% de opacidade) */
        z-index: -1;
    }

    .control
    {

        // margin-top: 20px;
        // background-color: #000000a6;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 70%;

        @media screen and (max-width:768px)
        {
            width: 100%;
            margin: 0;
        }
        color: $verde_floresta;
        h1{
            font-family: $oswald;
            letter-spacing: 2px;
            .t_1{font-size: 15rem;
                letter-spacing: 44px;
                font-weight: bold;
                color: #24A652;
            }
            .t_2{    
                font-size: 5rem;
                font-weight: bold;
                line-height: 0;
                color: #F2D027;
                letter-spacing: 30px;
            }
            .t_3{
                font-size: 7rem;
                font-weight: bold;
                line-height: .7;
                color: $verde_floresta;
                letter-spacing: 10px;
            }
            .t_4{    font-size: 9rem;
                font-weight: bold;
                line-height: 180px;
                color: #24A652;
                letter-spacing: 10px;
            }

            

            &:hover{
                cursor: default;
            }
        }

        h2{
            margin-top: 20px;
            font-size: 2rem;
            text-align: start;
            color: $verde_floresta;
            font-family: $roboto;
            padding: 5px 32px;
            font-weight: 300;
            line-height: 3.5rem;
            margin-top: 50px;

            // @media screen and (min-width :768px)
            // {
            //     letter-spacing: 5px;
            //     line-height: 3rem;
            //     width: 80%;
            // }


        }

        .ctas{
            // background-color: red;
            display: flex;
            justify-content: space-around;
            margin: 20px 0px;
            width: 100%;
            height: 50px;
            flex-wrap: wrap;
            gap: 50px;

            button{
                background-color: transparent;
                border: 2px $verde_floresta solid ;
                color: $verde_floresta;
                border-radius: 5px;
                padding: 10px 25px;
                font-weight: bold;
                // border: none;
                letter-spacing: 3px;
                font-family: $poppins;
                width: 45%;
                // height: 50%;
                font-size: 2rem;
                @media screen and (max-width: 768px)
                {
                    width: 50%;
                    font-size: 1.2rem;
                }

                @media screen and (max-width: 568px)
                {
                    width: 90%;
                    font-weight: 500;
                    letter-spacing: 5px;
                }
            }    
        }                                                                                                                                           

        @media screen and (max-width:1280px)
        {
            h1{
            .t_1{
                font-size: 8.5rem;}
            .t_2{font-size: 3.3rem;
                font-weight: bold;
                line-height: 0;
                color: #F2D027;
                letter-spacing: 19px;
                padding-left: 5px;
            }
            .t_3{
                font-size: 5rem;
                font-weight: bold;
                line-height: 30px;
                color: #24A652;
                letter-spacing: 11px;
            
            }
            .t_4{
                font-size: 6.35rem;
                font-weight: bold;
                line-height: 122px;
                color: #24A652;
                letter-spacing: 3px;
            }
            }
            
        }

        @media screen and (max-width: 920px)
        {
            h1{
                .t_1{
                    font-size: 8rem;
                }
                .t_2{
                    font-size: 2rem;
                    letter-spacing: 20px;
                }
                .t_3{
                    font-size: 4rem;
                    letter-spacing: 15px;
                }
                .t_4{
                    font-size: 6.5rem;
                }
            }
            
        }

        @media screen and (max-width: 769px)
        {
            h1{
                .t_1{
                    font-size: 5rem;
                    letter-spacing: 20px;
                }
                .t_2{
                    font-size: 2.5rem;
                    letter-spacing: 4.5px;
                }
                .t_3{
                    font-size: 3rem;
                    letter-spacing: 5px;
                    line-height: 21px;
                }
                .t_4{
                    font-size: 3.5rem;
                    line-height: 1.2;
                }
            }
            
        }

        @media screen and (max-width: 476px)
        {
            h1{
                .t_1{
                    font-size: 4.5rem;
                    letter-spacing: 9px;
                }
                .t_2{
                    font-size: 1.9rem;
                    letter-spacing: 3px;
                }
                .t_3{
                    font-size: 2.5rem;
                    letter-spacing: 1px;
                    line-height: 16px;
                }
                .t_4{
                    font-size: 2.8rem;
                    line-height: 50px;
                    letter-spacing: 0.6px;
            
                }   
            }
            

            h2{
                margin-top: 20px;
                font-size: 1.2rem;
                text-align: start;
                color: #24A652;
                font-family: "Roboto", cursive;
                padding: 5px 15px;
                text-indent: 1rem;
                line-height: 30px;
            }
        }
    }
}