@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.artigo {
  margin: 0px auto;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.subTitulo {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Oswald", cursive;
  font-weight: bold;
  margin-bottom: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 24px;
  color: #24A652;
  position: relative;
}
.subTitulo::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fade54;
  z-index: -1;
}
@media screen and (max-width: 567px) {
  .subTitulo {
    font-size: 1.8rem;
  }
}

.paragrafo {
  font-family: "Roboto", cursive;
  font-size: 1.1rem;
  line-height: 3rem;
  letter-spacing: 1px;
  text-align: left;
  text-indent: 1rem;
  margin-left: 15px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .paragrafo {
    font-family: "Roboto", cursive;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 4px;
    text-align: left;
    text-indent: 1rem;
    margin-left: 15px;
    font-weight: 400;
  }
}
@media screen and (max-width: 600px) {
  .paragrafo {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

.bold {
  font-weight: bold;
  color: #24A652;
}

.fontAmarelo {
  color: #FFFCFF;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 10px 10px;
  font-family: "Poppins", cursive;
  background-color: #24A652;
}

.italic {
  font-weight: 500;
  font-style: italic;
}

.showTag {
  opacity: 1;
}

.showLeg {
  opacity: 1;
}

.visivel {
  transform: translateX(0%);
  opacity: 1;
}

.button {
  width: 300px;
  height: 56px;
  background-color: #24A652;
  display: flex;
  color: white;
  justify-content: center;
  border: 2px solid transparent;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5098039216);
  text-decoration: none;
  transition: 0.5s ease all;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #24A652;
  color: #24A652;
}
@media screen and (max-width: 390px) {
  .button {
    width: 90%;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.menu_suspenso {
  display: flex;
  height: 90px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.829);
  border-bottom: 2px solid rgba(0, 0, 0, 0.116);
  justify-content: space-around;
  list-style-type: none;
  padding: 25px 0px;
  position: fixed;
  z-index: 1700;
  top: 0;
}
.menu_suspenso img {
  transform: scale(2);
}
.menu_suspenso a {
  text-decoration: none;
}
.menu_suspenso a li {
  color: #24a652;
  font-weight: 400;
  font-family: "Roboto", cursive;
  letter-spacing: 2.5px;
  padding: 5px 20px;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.5s ease all;
  font-size: 1.4rem;
}
.menu_suspenso a li:hover {
  text-decoration: underline;
  text-decoration-color: #24A652;
}/*# sourceMappingURL=MenuSuspenso.module.css.map */