@import '../variables';

*{
    margin: 0px;
    padding: 0px;
}

.carrosel_item
{
    background-color: red;
    // padding: 20px;
    // display: flex;
    justify-content: center;
    width: 100% !important;
    // align-items: center;
    // width: max-content !important;
   
    @media screen and (max-width: 500px)
    {
        width: 425px !important;
        margin: 0px 0px 0px 0px !important;
    }

    @media (min-width: 520px) and (max-width: 800px)
    {
        // margin: 0px 50px !important;
    }
}

.card{
    background-color: white;
    // width: max-content;
    width: 600px;
    // margin: 0px 150px;
    // max-width: 600px;
    // width: max-content;
    // height: max-content;

    @media screen and (max-width: 800px)
    {
        width: 100%;
        // margin: 20px;
    }
   
    border: 2px solid $verde_floresta;
    
    border-radius: 5px;
    padding-bottom: 15px;
    // margin: 50px;
    // padding: 15px;

    h3{
        background-color: $verde_floresta;
        color: white;
        border-radius: 5px 5px 0px 0px;
        padding: 14px;
        font-family: $oswald;
    }

    // p{
    //     padding: 0px 15px;
    //     font-size: 1.2rem;
    //     font-family: $poppins;
    // }
    
    ul{
        list-style-type: circle;
        // padding: 10px
        list-style-position: inside;
        padding: 0px 20px;
        li{
            font-size: 1rem;
            font-family: $poppins;
            color: $verde_floresta;
            font-weight: bold;
            margin: 30px 0px;
        }
    }

    transform: scale(0.95);
    transition: .5s ease all;
    &:hover{
        transform: scale(1);
    }
}


.teste{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // width: 100%;
    // padding: 0px 20px !important;
// 
    @media screen and (max-width: 1280px)
    {
        padding: 0px 20px !important;
    }

    @media screen and (max-width: 500px)
    {
        // width: 425px !important;
        padding: 0px !important;
        // margin: auto !important;
    }

    @media screen and (max-width: 400px)
    {
        // width: 100% !important;
        // margin: ;
        // width: 390px !important;
        // padding: 0px 20px !important;
    }

    @media screen and (max-width: 350px)
    {
        // width: 320px !important;
    }
}
