@import '../variables';

*{
    margin: 0px;
    padding: 0px;
}

form{
    background-color: white;
    padding: 50px 20px;
    // width: 80%;
    margin: auto;

    .label{
        font-size: 1.4rem;
        font-weight: bold;
        color: $verde_floresta;
        margin-bottom: 20px;
        letter-spacing: 2px;
        margin-top: 20px;
    }

    input[type="text"]{
        // background-color: red;
        padding: 10px 15px;
        font-size: 1.2rem;
    }
    
    input[type="radio"]
    {
        font-size: 1.2rem;
    }

    
}