@import '../variables';

*{
    margin: 0px;
    padding: 0px;
}

.icone
{
    position: fixed;
    @media screen and (min-width: 976px)
    {
        font-size: 6rem;
    }

    @media screen and (max-width: 966px)
    {
        font-size: 4rem;
    }

    @media screen and (max-width: 500px)
    {
        font-size: 3rem;
    }
    right: 3rem;
    /* bottom: 0rem; */
    /* top: 10rem; */
    z-index: 5000;
    color: black;
    /* bottom: 0px; */
    bottom: 3rem;
    opacity: .5;
    
    transition: .5s ease all;

    &:hover{
        color: $verde_floresta;
        opacity: 1;
        cursor: pointer;
    }
}